@mixin page-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@mixin page-content($icon-scale) {
  padding-inline: 1.6rem;
  flex-grow: 1;

  mat-card {
    min-width: fit-content;
    flex-grow: 1;
    height: 100%;

    mat-card-header {
      padding-inline: 1.6rem;
      padding-block: 0;
      align-items: center;
      height: 100%;

      @if ($icon-scale) {
        button[mat-card-avatar] {
          margin-block-end: 0;

          mat-icon {
            scale: $icon-scale;
          }
        }
      } @else {
        img[mat-card-avatar] {
          margin-block-end: 0;
        }
      }
    }
  }
}
