@use "@angular/material" as mat;
@include mat.core();

$app-light-primary: mat.define-palette(mat.$light-blue-palette, A400);
$app-light-accent: mat.define-palette(mat.$yellow-palette, A200);
$app-light-warn: mat.define-palette(mat.$deep-orange-palette, A200);

$app-dark-primary: mat.define-palette(mat.$light-blue-palette, 900);
$app-dark-accent: mat.define-palette(mat.$teal-palette, 700);
$app-dark-warn: mat.define-palette(mat.$pink-palette, A700);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-light-primary,
      accent: $app-light-accent,
      warn: $app-light-warn,
    ),
  )
);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
      warn: $app-dark-warn,
    ),
  )
);

:root {
  font-size: 0.625em;
  box-sizing: border-box;
  user-select: none;
}

* {
  box-sizing: inherit;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

html,
body {
  height: 100%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.dark_mode {
    @include mat.all-component-colors($app-dark-theme);
  }

  &.light_mode {
    @include mat.all-component-colors($app-light-theme);
  }
}

app-root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
