:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.625em;
  box-sizing: border-box;
  user-select: none;
}

* {
  box-sizing: inherit;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

html,
body {
  height: 100%;
}
