:host {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  max-width: 40rem;

  mat-card-header {
    align-items: center;
  }

  button[mat-card-avatar] {
    margin-block-end: 0;

    mat-icon {
      scale: 2;
    }
  }
}
