// form {
//   display: flex;
//   margin-block-start: 2rem;
//   align-items: center;
// }

// mat-divider {
//   height: 5rem;
//   margin-inline: 0.5rem;
//   margin-block-end: 2.4rem;
// }

:host {
  display: block;
}

button[matPrefix] {
  margin-inline: 1rem;
  mat-icon {
    scale: 1.4;
  }
}

button[matSuffix] {
  margin-inline-end: 1rem;
}

.search {
  display: block;
  width: 50rem;
  margin-inline: auto;
  margin-block: 2rem;
}
